*.class
ofc/install/dist/
ofc/zkwebui/zul/DynamicDashBoard.zul
ofc/zkwebui/zul/activities.zul
ofc/zkwebui/zul/calendar.zul
ofc/zkwebui/zul/favourites.zul
ofc/zkwebui/zul/menu.zul
ofc/zkwebui/zul/performance.zul
ofc/zkwebui/zul/views.zul
ofc/zkwebui/WEB-INF/lib/
ofc/zkwebui/theme/
ofc/zkwebui/js/
ofc/zkwebui/images_old/
ofc/zkwebui/images/
ofc/zkwebui/css/PAPanel.css
ofc/zkwebui/css/report.css
ofc/zkwebui/dist/webui.war
ofc/zkwebui/RUN_build.bat
ofc/zkwebui/index.zul
ofc/zkwebui/theme.zs
ofc/zkwebui/WEB-INF/classes/metainfo/zk/lang-addon.xml
ofc/zkwebui/WEB-INF/classes/
ofc/zkwebui/timeout.zul
ofc/lib/customization.jar
ofc/lib/
ofc/serverRoot/build/deploy/
ofc/packages/helcim_semi_integrated.jar
ofc/packages/mckayerp_ftu.jar
ofc/customization.jar
zip*.tmp
ofc/hs_err*.log
ofc/launch/Release/launch4j.log
